@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: #666; }
.cap { text-transform: capitalize; }
.up { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  /* margin-bottom: 18px; */
  box-shadow: 0 2px 10px #bbb;
}

header .wrapper,
.header-top,
.header-bottom { width: 100%; }

.header-top-wrapper {
  width: 86%;
  margin:  0 auto;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
  text-transform: capitalize;
}

.header-top-wrapper a { color: #000; }

.header-top,
.header-bottom { border-bottom: 1px solid #F1F1F1; }

.header-bottom-wrapper {
  width: 86%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
}

.header-top ul {
  display: flex;
  flex-basis: 50%;
  justify-content: end;
}

.header-top ul li { padding: 5px 6%; }

.header-top ul li::before {
  position: absolute;
  font-family: "FontAwesome";
}

.header-top ul li:nth-of-type(2) { background: #F1F1F1; }
.header-top-wrapper ul li:nth-of-type(2) a { color: #7A7A7A; }

.header-top ul li:nth-of-type(1)::before { content: '\f007'; }

.header-top ul li:nth-of-type(2)::before { 
  color: #7A7A7A;
  content: '\f07a';
 }

.header-top ul li:nth-of-type(1) a,
.header-top ul li:nth-of-type(2) a { padding-left: 15px; }

.header-bottom { 
  padding: 5px 0;
  display: flex;
 }

nav ul { display: none; }

.hamburger {
  width: 16px;
  height: 10px;
  padding: 6px;
  border: 1px solid;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #A19FA6;
  color: #fff;
  flex-direction: column;
  justify-content: center;
}

.bar {
  width: 19px;
  height: 2px;
  padding: 0px;
  margin: 2px;
  display: block;
  background-color: #3B3B3B;
  text-indent: -9999px;
}

/* .hamburger:hover .nav-links { display: block; } */
.hamburger:hover span:nth-of-type(1) { transform: translate(0, 3px) rotate(-45deg); }
.hamburger:hover span:nth-of-type(2) { display: none; }
.hamburger:hover span:nth-of-type(3) { transform: translate(0, -3px) rotate(45deg); }

.header-bottom form { display: none; }

.hamburger:hover ~ ul { display: flex; }

.hamburger:hover ~ ul li a { 
  padding-left: 10px;
  color: #fff;
 }

nav {
  width: 100%;
  display: flex;
  justify-content: end;
}

nav ul { 
  width: 100%;
  padding: 10px 0;
  background: #000;
  position: absolute;
  top: 30px;
  right: 0px;
  flex-direction: column;
  gap: 5px;
  font-size: 11px;
  text-transform: uppercase;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner-section .wrapper { 
  width: 100%;
  min-height: 200px;
  background: url(/assets/Images/emma-matthews-p6g6S_kXkFc-unsplash.png) no-repeat center center / cover;
  background-attachment: fixed;
  position: relative;
}

.banner-section {
  margin-top: 15px;
  background: #F1F1F1;
}

h2 {
  margin-bottom: 10px;
  color: #6F6F6F;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.parallax {
  width: 70%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax p {
  margin-bottom: 10px;
  font-size: 10px;
  text-align: justify;
}

.parallax p:nth-of-type(1) { color: #7A7A7A; }
.parallax p:nth-last-of-type(2) { color: #4E4E4E; }

.parallax { 
  padding: 10px 5%;
  background: rgba(255, 255, 255,0.8); 
}

/*Product section start*/
h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #232323;
}

.product-section { padding: 15px 0; }
.product-section ul li { position: relative; }

.discount {
  display: flex;
  position: absolute;
  top: 10px;
  flex-direction: column;
  font-size: 12px;
  width: 15%;
  text-transform: uppercase;
}

.discount span { 
  margin: 3px 0;
  padding: 3px 10%;
  color: #fff;
 }

.discount span:nth-of-type(1) { background-color: #F39D72; }
.discount span:nth-of-type(2) { background-color: #30B5D2; }

.product-section ul li {
  margin: 10px 0;
  /* display: flex; */
  position: relative;
  /* flex-direction: column; */
  box-shadow: 0 2px 10px #bbb;
}

.product-section ul { 
  display: flex;
  flex-direction: column;
}

.caption { padding: 5px 5%; }

.caption > span { 
  width: 100%;
  margin-bottom: 5px;
  display: inline-block;
  color: #888;
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
}

.price { 
  margin-bottom: 5px;
  font-size: 10px;
  text-align: center;
}

.before-discount { 
  color: #777;
  font-weight: bold;
  text-decoration: line-through; 
}

.price span:nth-of-type(2) { font-weight: bold; }

.new { 
  position: absolute;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  top: 10px;
  background: #30B5D2;
  padding: 3px 2%;position: absolute;
 }

 .product-section .wrapper > a {
  width: 100%;
  display: inline-block;
  color: #7D7C7A;
  font-size: 12px;
  font-weight: bold;
  text-align: end;
  text-transform: capitalize;
 }

 .product-section .wrapper > a::after {
  content: '\f054';
  position: absolute;
  font-family: "FontAwesome";
 }
/*Product section end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  